Node-RED-Mottu-Mottion.json
[
    {
        "id": "9123357869608070",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e74f2ed3ad8936f3",
        "type": "mqtt in",
        "z": "9123357869608070",
        "name": "",
        "topic": "iot/mottu-mottion/sensormo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "adb114682f965e27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "e43eac29ff1e60fd",
                "71e9efd4b2687491",
                "4b808c5c62c6da51"
            ]
        ]
    },
    {
        "id": "e43eac29ff1e60fd",
        "type": "debug",
        "z": "9123357869608070",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "4b808c5c62c6da51",
        "type": "ui_template",
        "z": "9123357869608070",
        "group": "29181e19c8f3dd0b",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"padding:10px;\">\n  <b>Setor:</b> {{msg.payload.setor}}<br>\n  <b>Observação:</b> {{msg.payload.observacao}}<br>\n  <b>ID da Moto:</b> {{msg.payload.id_moto}}<br>\n  <b>Sensor:</b> {{msg.payload.id_sensor}}<br>\n  <b>Timestamp:</b> {{msg.payload.timestamp}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "71e9efd4b2687491",
        "type": "ui_gauge",
        "z": "9123357869608070",
        "name": "",
        "group": "29181e19c8f3dd0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pátio",
        "label": "  Motos",
        "format": "{{1}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#3fd93f",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "adb114682f965e27",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "29181e19c8f3dd0b",
        "type": "ui_group",
        "name": "Default",
        "tab": "9b0d322ede19aa9c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b0d322ede19aa9c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]